* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2c2c32;
  --color-active: #0f7dc6;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 15px;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 100px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
}

.active-link {
  color: var(--color-active);
  cursor: default;
}

footer {
  background-color: var(--color-bg);
  height: 100px;
}
footer div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

header > a.active {
  color: var(--color-active);
}
